@mixin firstFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin secondFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @content;
}